ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

active{
    color: red;
    font-weight: bolder;
}

h2 {
    color: aqua;
}
ui-view {
    background: url("../images/blue_wallpaper_original_1600x1200.png") no-repeat fixed center;
    background-size: cover;


}

body {
    background: url("../images/blue_wallpaper_original_1600x1200.png") no-repeat fixed center;
    margin: 0px;

}
nav {
    width: 100%;
}