ul.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a.navhead {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.navhead:hover {
    background-color: #111;
}

ui-view {
    background: url("../images/blue_wallpaper_original_1600x1200.png") no-repeat fixed center;
    background-size: cover;
}

body {
    background: url("../images/blue_wallpaper_original_1600x1200.png") no-repeat fixed center;
    margin: 0px;
}

.title {
    text-align: center;
    /*border: 3px solid green;*/
}

.jsbuttons {
    background: linear-gradient(#1a55cc, #010101);
    border-radius: 5px;
    color: #ffffff;
}

